<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Category Edit</title>
</head>
<body>
<div class="container py-5">

<div class="card shadow">
    <div class="card-header">
Edit Ticket Topic
    </div>
    <div class="card-body">
    <form th:action="@{/web/updateCategoryById}" method="post">
        <div class="mb-3">
        <label class="form-label">Id </label>
        <input type="text" class="form-control" id="id" readonly name="id" th:value="${ticketCategory.getId()}">
        </div>
        <div class="mb-3">
        <label id="category" class="form-label">Category</label>
            <select id="ticketCategory" th:field="*{ticketCategories}" class="form-control">
                <option th:each="ticketCategory : ${ticketCategoryList}" th:value="${ticketCategory.id}"
                        th:text="${ticketCategory.category}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Update</button>
</form>
    </div>
    </div>
</div>
</body>
</html>