<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic Details</title>
</head>
<body>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card">
                <div class="card-header">
                    Ticket Category Details

                </div>
                <div class="card-body">
                    <h5 class="card-title" ><span th:text="${ticketCategory.getCategory()}"></span></h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a class="btn btn-danger" th:href="@{/web/updateCategoryById/{id}(id=${ticketCategory.getId()})}">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div>-->
<!--    <p><strong>Id:</strong> <span th:text="${ticketTopic.getId()}"></span></p>-->
<!--    <p><strong>Ticket Topic:</strong> <span th:text="${ticketTopic.getTopic()}"></span></p>-->
<!--    <a class="btn btn-danger" th:href="@{/web/updateTopicById/{id}(id=${ticketTopic.getId()})}">Update</a>-->
<!--</div>-->
</body>
</html>