<!--begin::Footer-->
<div class="footer py-4 d-flex flex-column flex-md-row flex-stack" id="kt_footer" th:fragment="layout(footer)"
xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<!--begin::Copyright-->
	<div class="text-dark order-2 order-md-1">
		<span class="text-muted fw-bold me-1">2022©</span>
		<a href="#" target="_blank" class="text-gray-800 text-hover-primary">Cellcom Private Limited</a>
	</div>
	<!--end::Copyright-->
</div>
<!--end::Footer-->