<!DOCTYPE HTML>
<html LANG="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!-- <head th:replace="base :: baseHeader(~{::title},~{::link})"> -->
<!-- <head> -->
<!-- <title>The best tutorial ever | FrontBackend</title>

	<link rel="stylesheet" th:href="@{/css/awesome.min.css}">
	<link rel="stylesheet" th:href="@{/jquery/jquery-ui.css}"> -->

<!-- </head> -->
<head>
    <style>
        .accordion-button::after{
            display: none;
        }
    </style>
    <title>Dashboard</title>
</head>

<body>
<div th:insert="~{layout_fragments/main_layout}"></div>
<!--<div layout:fragment="contents">
    &lt;!&ndash;begin::Row&ndash;&gt;
    <div class="row g-5 g-lg-10">
        &lt;!&ndash;begin::Col&ndash;&gt;
        <div class="col-xl-4 mb-xl-10">
            &lt;!&ndash;begin::Mixed Widget 18&ndash;&gt;
            <div class="card h-md-100">
                &lt;!&ndash;begin::Beader&ndash;&gt;
                <div class="card-header border-0 py-5 bg-primary">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1 text-white">CellPay Report</span>
                    </h3>
                </div>
                &lt;!&ndash;end::Header&ndash;&gt;
                &lt;!&ndash;begin::Body&ndash;&gt;
                <div class="card-body p-0 d-flex flex-column">
                    <h1>Hello dashboard</h1>
                    &lt;!&ndash;begin::Items&ndash;&gt;
                   &lt;!&ndash; <div class="card-px pt-5 pb-10 flex-grow-1">
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4" sec:authorize="hasAnyRole('SUPER_ADMIN','VIEW_BANKS')">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5 bg-light-primary">
									<span class="symbol-label">
										<i class="fas fa-university fs-1 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a th:href="@{/crm/banks}" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Banks</a>
                                </div>
                                <span class="badge badge-primary fw-bolder my-2" th:text="${banks}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fas fa-users fs-1 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Total Registration</a>
                                </div>
                                <span class="badge badge-primary fw-bolder my-2" th:text="${#numbers.formatDecimal(totalRegistration, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fab fa-weebly fs-2 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Weekly Registration</a>
                                </div>
                                <span class="badge badge-primary fw-bolder my-2" th:text="${#numbers.formatDecimal(weeklyRegistration, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fab fa-medium-m fs-2 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Monthly Registration</a>
                                </div>
                                <span class="badge badge-primary fw-bolder my-2" th:text="${#numbers.formatDecimal(monthlyRegistration, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fas fa-user fs-2 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a th:href="@{/crm/membersReport}" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Members Report</a>
                                </div>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                    </div>&ndash;&gt;
                    &lt;!&ndash;end::Items&ndash;&gt;
                </div>
                &lt;!&ndash;end::Body&ndash;&gt;
            </div>
            &lt;!&ndash;end::Mixed Widget 18&ndash;&gt;
        </div>
        &lt;!&ndash;end::Col&ndash;&gt;
        &lt;!&ndash;begin::Col&ndash;&gt;
       &lt;!&ndash; <div class="col-xl-4 mb-xl-10">
            &lt;!&ndash;begin::Mixed Widget 18&ndash;&gt;
            <div class="card h-md-100">
                &lt;!&ndash;begin::Beader&ndash;&gt;
                <div class="card-header border-0 py-5 bg-danger">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1 text-white">CRM Report</span>
                    </h3>
                </div>
                &lt;!&ndash;end::Header&ndash;&gt;
                &lt;!&ndash;begin::Body&ndash;&gt;
                <div class="card-body p-0 d-flex flex-column">
                    &lt;!&ndash;begin::Items&ndash;&gt;
                    <div class="card-px pt-5 pb-10 flex-grow-1">
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_KYC_REPORT_COUNT')">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fas fa-clipboard fs-1 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a th:href="@{/crm/kycReport-count}" class="text-gray-800 text-hover-primary fs-6 fw-bolder">KYC Report</a>
                                </div>
                                <span class="badge badge-warning fw-bolder my-2" th:text="${#numbers.formatDecimal(kycReportCount, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_APPROVED_COUNT')">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fas fa-check-double fs-1 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a th:href="@{/crm/approve-count}" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Approvals</a>
                                </div>
                                <span class="badge badge-warning fw-bolder my-2"th:text="${#numbers.formatDecimal(approvalCount, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_DENIAL_COUNT')">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fas fa-times-circle fs-1 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a th:href="@{/crm/denial-count}" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Denials</a>
                                </div>
                                <span class="badge badge-warning fw-bolder my-2" th:text="${#numbers.formatDecimal(denialCount, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_FLAG_COUNT')">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fas fa-flag fs-1 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a th:href="@{/crm/flag-count}" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Flags</a>
                                </div>
                                <span class="badge badge-warning fw-bolder my-2" th:text="${#numbers.formatDecimal(flagCount, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                        &lt;!&ndash;begin::Item&ndash;&gt;
                        <div class="d-flex align-items-sm-center mb-4" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_DENIAL_COMMENT_COUNT')">
                            &lt;!&ndash;begin::Symbol&ndash;&gt;
                            <div class="symbol symbol-40px me-5">
									<span class="symbol-label">
										<i class="fas fa-comment fs-1 align-self-center"></i>
									</span>
                            </div>
                            &lt;!&ndash;end::Symbol&ndash;&gt;
                            &lt;!&ndash;begin::Section&ndash;&gt;
                            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                <div class="flex-grow-1 me-2">
                                    <a th:href="@{/crm/comment-count}" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Denials Comments</a>
                                </div>
                                <span class="badge badge-warning fw-bolder my-2" th:text="${#numbers.formatDecimal(denialCommentCount, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            &lt;!&ndash;end::Section&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Item&ndash;&gt;
                    </div>
                    &lt;!&ndash;end::Items&ndash;&gt;
                </div>
                &lt;!&ndash;end::Body&ndash;&gt;
            </div>
            &lt;!&ndash;end::Mixed Widget 18&ndash;&gt;
        </div>&ndash;&gt;
        &lt;!&ndash;end::Col&ndash;&gt;
    </div>
    &lt;!&ndash;end::Row&ndash;&gt;

</div>-->

<div layout:fragment="content-scripts">
</div>

</body>

</html>