<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout_fragments/base::layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Ticketing Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div class="container mt-5">
    <form th:action="@{/web/saveTicketing}" th:object="${ticketRequestPojo}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <h2 class="w-full text-sky-700 text-center text-3xl font-semibold">Ticketing Form</h2>

        <th:block th:if="${session.sessionMessage}">
            <p class="text-center text-success fs-4">[[${session.sessionMessage}]]</p>
            <th:block th:remove="tag" th:text="${@ticketCategoryServiceImpl.removeSessionMessage()}"></th:block>
        </th:block>

        <div class="form-group row">
            <input type="hidden" name="id" th:value="${userInfo.getUser_id()}">
            <input type="hidden" name="memberId" th:value="${userInfo.getUser_id()}">
            <input type="hidden" name="memberType" th:value="${userInfo.getRoles()}">
            <input type="hidden" name="memberName" th:value="${userInfo.getUsername()}">
            <input type="hidden" name="username" th:value="${userInfo.getUsername()}">
            <label for="ticketTopic" class="col-sm-2 col-form-label">Ticket Topic:</label>
            <div class="col-sm-10">
                <select id="ticketTopic" th:field="*{ticketTopicRequest}" class="form-control">
                    <option th:each="topic : ${ticketTopics}" th:value="${topic.id}" th:text="${topic.topic}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="ticketCategory" class="col-sm-2 col-form-label">Ticket Category:</label>
            <div class="col-sm-10">
                <select id="ticketCategory" th:field="*{ticketCategory}" class="form-control">
                    <option th:each="category : ${ticketCategories}" th:value="${category.id}" th:text="${category.category}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="images" class="col-sm-2 col-form-label">Images:</label>
            <div class="col-sm-10">
                <input type="file" id="images" th:field="*{images}" class="form-control-file" multiple>
                <button type="button" class="btn btn-primary" onclick="document.getElementById('images').click();">
                    <i class="fas fa-upload"></i> Add Picture
                </button>
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description (10-200 words):</label>
            <div class="col-sm-10">
                <textarea id="description" th:field="*{description}" name="description" rows="5" cols="70" minlength="20" maxlength="200" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
