<!DOCTYPE html>
<html th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic</title>
</head>
<body>
<div class="container py-5">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="card-title mb-4">Ticket Topic</h1>


            <th:block th:if="${session.sessionMessage}">
                <p class="text-center text-success fs-4">[[${session.sessionMessage}]]</p>
                <th:block th:text="${@ticketTopicServiceImpl.removeSessionMessage()}"></th:block>

            </th:block>


                    <form action="/web/saveTopic" method="post">
                        <div class="mb-3">
                            <label for="ticket-topic" class="form-label">Ticket Topic</label>
                            <input type="text" class="form-control" id="ticket-topic" aria-describedby="ticket" >
                            <!--                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

        </div>

    </div>
</div>

</body>
</html>