<!DOCTYPE html>
<html th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic</title>
</head>
<body>
<section class="container">
    <div class="row">
                    <h1 class="w-full text-sky-700 text-center text-3xl font-semibold">Ticket Topic</h1>


                    <th:block th:if="${session.sessionMessage}">
                        <p class="text-center text-success fs-4">[[${session.sessionMessage}]]</p>
                                                <th:block th:text="${@ticketTopicServiceImpl.removeSessionMessage()}"></th:block>

                    </th:block>

        <div class="col">
                    <div class="container-fluid">
                        <form action="/web/saveTopic" method="post">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ticket Topic</label>
                                <input type="text" class="form-control" id="ticket-topic" aria-describedby="ticket" >
<!--                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
    </div>
</section>

</body>
</html>