<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic Edit</title>
</head>
<body>
<h1>Edit Ticket Topic</h1>
<form th:action="@{/web/updateTopic}" method="post">
    <label>Id: </label>[[${ticketTopic.getId()}]]
    <input type="hidden" id="id" name="id" th:value="${ticketTopic.getId()}">
    <div>
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" th:value="${ticketTopic.getTopic()}"/>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
</body>
</html>