<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic Edit</title>
</head>
<body>
<div class="container py-5">

<div class="card shadow">
    <div class="card-header">
Edit Ticket Topic
    </div>
    <div class="card-body">
    <form th:action="@{/web/updateTopic}" method="post">
        <div class="mb-3">
        <label class="form-label">Id </label>
        <input type="text" class="form-control" id="id" readonly name="id" th:value="${ticketTopic.getId()}">
        </div>
        <div class="mb-3">
        <label for="topic" class="form-label">Topic</label>
        <input type="text" class="form-control" name="topic" id="ticket-topic" th:value="${ticketTopic.getTopic()}"/>
    </div>
        <button type="submit" class="btn btn-danger">Update</button>
</form>
    </div>
    </div>
</div>
</body>
</html>