<!DOCTYPE html>
<html th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic</title>
</head>
<body>
<section class="flex w-full justify-center">
    <div class="flex w-9/12	shadow-lg mt-10 mb-10 p-4 border-2 rounded-md flex-col">
                    <h1 class="w-full text-sky-700 text-center text-3xl font-semibold">Ticket Topic</h1>


                    <th:block th:if="${session.sessionMessage}">
                        <p class="text-center text-success fs-4">[[${session.sessionMessage}]]</p>
                                                <th:block th:text="${@ticketTopicServiceImpl.removeSessionMessage()}"></th:block>

                    </th:block>

                    <div class="mt-4">
                        <form action="/web/saveTopic" method="post">
                            <div class="mb-3">
                                <input type="text" name="topic"
                                                            class="w-full py-2 pl-10 pr-4 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500">
                            </div>
                            <!--                            <div class="mb-3">-->
                            <!--                                <label>Enter Email</label> <input type="text" name="email"-->
                            <!--                                                                  class="form-control">-->
                            <!--                            </div>-->

                            <!--                            <div class="mb-3">-->
                            <!--                                <label>Enter Mobile Number</label> <input type="number"-->
                            <!--                                                                          name="mobileNo" class="form-control">-->
                            <!--                            </div>-->

                            <!--                            <div class="mb-3">-->
                            <!--                                <label>Enter Password</label> <input type="text"-->
                            <!--                                                                     name="password" class="form-control">-->
                            <!--                            </div>-->
                            <button class="w-full bg-sky-700 rounded-md text-white text-2xl py-2 hover:bg-sky-500 ease-in duration-300">Submit</button>
                        </form>
                    </div>
                </div>
    </div>
</section>

</body>
</html>