<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic Details</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Ticket Topic Details</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Id:</strong> <span th:text="${ticketTopic.id}"></span></p>
            <p class="card-text"><strong>Ticket Topic:</strong> <span th:text="${ticketTopic.topic}"></span></p>
            <a class="btn btn-primary" th:href="@{/web/updateTopicById/{id}(id=${ticketTopic.id})}">Edit</a>
        </div>
    </div>
</div>
</body>
</html>
