<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout_fragments/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Ticket Topic Edit</title>
</head>
<body>
<div class="container py-5">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="card-title mb-4">Edit Ticket Topic</h1>
            <form th:action="@{/web/updateTopic}" method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">Id:</label>
                    <input type="text" id="id" class="form-control" readonly th:value="${ticketTopic.id}"/>
                </div>
                <div class="mb-3">
                    <label for="topic" class="form-label">Topic:</label>
                    <input type="text" id="topic" class="form-control" th:value="${ticketTopic.getTopic()}"/>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
